@font-face {
	font-family: 'Material Icons';
	src: url(../../assets/fonts/MaterialIcons-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
	url(../../assets/fonts/MaterialIcons-Regular.woff) format('woff'),
	url(../../assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}